################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/.vs
bin
obj
/EmployeeService/EmployeeService.Api/EmployeeService.Api.csproj.user
