seat {
    border: solid 1px;
    border-color: black;
  }
  .rcorners1 {
    border-radius: 25px;
    /* background: url("/assets/floor2.jpg"); */
    background-color:rgb(95, 94, 94);
    
    padding: 20px;
    border: solid 3px;
    border-color:rgb(95, 94, 94);
    /* width: 200px;
      height: 150px; */
  }
  .sdesc {
    /* font-weight: 100; */
    font-size: xx-small;
    font-weight: bold;
  }
  .seat-border {
    border-radius: 25px;
    /* background: #73AD21; */
    background: aliceblue;
    padding: 2px 20px 2px 20px;
    border: solid 1px;
    border-color: rgb(191, 182, 203);
    margin: 10px 10px 10px 10px;
  }

  .green {
    background-color: #09e839;
}
.green:hover{
  background-color: #2aff58;
}

.red {
    background-color: #f47835;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-dark);
}
.graycolor
{
  color: gray;
}
.whitecolor
{
  color: white;
}