<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/Allocation.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="text-center">
                        <a class="btn btn-dark" (click)="btnClick2();">Allocate Seat</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="/assets/booking.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="text-center">
                        <a class="btn btn-dark" (click)="btnClick();">Book Seat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>