<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button> -->

<div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    type="button">
    <img *ngIf="item.status" src="/assets/seat_icon_a_32.png" alt="image">
    <img *ngIf="!item.status" src="/assets/seat_icon_d_32.png" alt="image">
    <div style="font-weight:bold; color: gray;">{{item.id}}</div>
</div>

<!-- Modal -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Book Seat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-4">
                        <label for="exampleFormControlInput1" class="form-label">From Date</label>
                        <input type="date" class="form-control" id="fromDate" name="fromDate" [(ngModel)]="fromDate">
                    </div>
                    <div class="col-4">
                        <label for="exampleFormControlInput1" class="form-label">To Date</label>
                        <input type="date" class="form-control"  id="toDate" name="toDate" [(ngModel)]="toDate">
                    </div>
                    <div class="col-4">
                        <button type="button"  class="btn btn-dark my-4 py-3" (click)="checkSeatAvalibility()">Check Avalibility</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark">Understood</button>
            </div>
        </div>
    </div>
</div>