<p>book-seat works!</p>

<div class="container">
    <h1> layout </h1>
    <div class="rcorners1">   
    <div class="row">
        <div class="col-1 seat-border" *ngFor="let seat of seatList" data-toggle="tooltip" data-placement="top" title="{{seat.desc}}">
            <img *ngIf="seat.status" src="/assets/seat_icon_a_32.png" alt="image" >
            <img *ngIf="!seat.status" src="/assets/seat_icon_d_32.png" alt="image">
        </div>
        <!-- <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1">
        <span >Window</span></div>
        <div class="col-1">.col-1</div>
        <div class="col-1">.col-1</div>
        <div class="col-1">.col-1</div>
        <div class="col-1"><img src="/assets/seat_icon_d_32.png" alt="image"></div>
        <div class="col-1">.col-1</div>
        <div class="col-1">.col-1</div>
        <div class="col-1">.col-1</div>
        <div class="col-1">.col-1</div> -->
    </div>

</div>
</div>