<p>book-seat works!</p>

<div class="container">
    <h1> layout </h1>
    <div class="rcorners1">   
    <div class="row">
        <div class="col-1"><i class="fa-regular fa-chair"></i></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"><img src="/assets/seat_icon_a_32.png" alt="image">
        <span >Window</span></div>
        <div class="col-1">.col-1</div>
        <div class="col-1">.col-1</div>
        <div class="col-1">.col-1</div>
        <div class="col-1"><img src="/assets/seat_icon_d_32.png" alt="image"></div>
        <div class="col-1">.col-1</div>
        <div class="col-1">.col-1</div>
        <div class="col-1">.col-1</div>
        <div class="col-1">.col-1</div>
    </div>


    <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
    </div>

    <div class="row">
        <div class="col-lg-4 seat">.col-lg-4</div>
        <div class="col-lg-4 seat">.col-lg-4</div>
        <div class="col-lg-4 seat">.col-lg-4</div>
    </div>

    <div class="row">
        <div class="col-xl-4 seat">.col-xl-4</div>
        <div class="col-xl-4 seat">.col-xl-4</div>
        <div class="col-xl-4 seat">.col-xl-4</div>
    </div>
</div>
</div>