<form action="">
    <div class="row mb-3"
        style="background-color: rgb(95, 94, 94);; border-bottom-left-radius: 1em ; border-top-right-radius: 1em ;">
        <div class="col-6">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" style="color: white;">Location</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                    [(ngModel)]="selectedLocation" name="ddlLocation">
                    <option selected>Select location</option>
                    <option *ngFor="let location of locations" value="{{location.id}}"> {{location.locationName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" style="color: white;">Floor</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                    [(ngModel)]="selectedFloor" (change)="onChangeFloor($event)" name="ddlFloor">
                    <option selected>Select Floor</option>
                    <option *ngFor="let floor of floors" value="{{floor.id}}"> {{floor.floorName}}
                    </option>
                </select>
            </div>
        </div>

    </div>
    <div>
        <div class="row" style="background-color: rgb(95, 94, 94); border-top-left-radius: 1em;   ">
            <div class="col-6">
                <div class="mb-3 ">
                    <label for="exampleInputEmail1" class="form-label" style="color: white;">Manager</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                        (change)="onChangeEmployee($event)" [(ngModel)]="selectedEmployee" name="ddlEmployee">
                        <option selected>Select Manager</option>
                        <option *ngFor="let emp of employee" value="{{emp.employeeId}}"> {{emp.employeeName}}
                    </select>
                </div>
            </div>

            <div class="col-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" style="color: white;">Department</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                        name="ddlDepartment" [(ngModel)]="selectedDepartment"  [disabled]="isDepartmentDisable">
                        <option selected>Select Department</option>
                        <option *ngFor="let department of departmentList" value="{{department.id}}"> {{department.name}}
                    </select>
                </div>
            </div>
        </div>

        <div class="row" style="background-color: rgb(95, 94, 94); border-bottom-right-radius: 1em ;">
            <!-- <div class="col-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" style="color: white;">Zone</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                        [(ngModel)]="selectedZone" (change)="onChangeZone($event)" name="ddlZone">
                        <option selected>Select zone</option>
                        <option *ngFor="let zone of zones" value="{{zone.id}}"> {{zone.zoneName}}
                    </select>
                </div>
            </div> -->
            <div class="col-6">
                <label for="exampleInputDate" class="form-label" style="color: white;">From Date</label>
                <div class="input-group mb-3">
                    <input type="date" class="form-control form-control-sm" [(ngModel)]="startDate"
                        placeholder="From Date" aria-label="From">
                </div>
            </div>
            <div class="col-6">
                <label for="exampleInputDate" class="form-label" style="color: white;">To Date</label>
                <div class="input-group mb-3">
                    <input type="date" class="form-control" placeholder="To Date" [(ngModel)]="toDate" aria-label="To">
                </div>
            </div>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-4">Team Size : {{employeeCount?.teamCount}}</div>
        <div class="col-6">Seat Capacity : {{employeeCount?.maxAllowedSeatAllocation}} (65%)</div>
        <div class="col-6"></div>
    </div>
    <br> <br>
    <div class="text-center">
        <div class="row">
            <div class="col-4"> <button type="submit" class="btn btn-secondary"
                    (click)="allocateSeatsToManager()">Allocate Space</button></div>
            <div class="col-4"><button type="submit" class="btn btn-secondary" [disabled]="!isSave"
                    (click)="save()">Submit</button>
            </div>
        </div>

    </div>
    <br>

</form>

<div>

    <app-allocation-details [allocationList]="zones"></app-allocation-details>
</div>